@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  padding: 10px;
  background: #0891b2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar label {
  font-size: 10px;
}

main {
  width: 400px;
  padding: 10px;
  border-radius: 4px;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type='text'] {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #0891b2;
  border-radius: 4px;
  outline: none;
  flex-grow: 1;
}

button {
  cursor: pointer;
  outline: none;
  background: #0891b2;
  color: #fff;
  border: 1px solid #0891b2;
  border-radius: 4px;
  padding: 5px;
}

.weather-data {
  margin-top: 30px;
}

.hide {
  display: none;
}

.weather-data p {
  font-size: 16px;
  font-weight: bold;
}

#degree {
  font-size: 4rem;
}

.params-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.params-grid .item {
  background: #dfeaec;
  padding: 10px;
  border-radius: 4px;
}

.params-grid p {
  font-weight: 500;
  font-size: 13px;
}

.params-grid .value {
  font-size: 18px;
  font-weight: 600;
}

#degree,
#feels-like,
#humidity,
#pressure,
#wind-speed {
  color: #0891b2;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
  }

  #navbar {
    position: relative;
  }

  main {
    padding-top: 40px;
    width: 100%;
  }

  #degree {
    font-size: 3rem;
  }

  .params-grid p {
    font-size: 12px;
  }

  .params-grid .value {
    font-size: 16px;
  }
}
